In [1]:
# --- Basic setup and environment check ---
import pandas as pd
import numpy as np
import os

# File path (make sure this matches exactly)
FILE_PATH = "/Users/darrelljarrett/Explainable Machine Learning for Diabetes Prediction/2015.csv"

# Check if the file exists before loading
if os.path.exists(FILE_PATH):
    print(" File found!")
else:
    print("File not found. Double-check your path.")

 File found!

In [2]:
# Read only first 5 rows to see structure 
df_preview = pd.read_csv(FILE_PATH, nrows=5)
print(" Loaded preview successfully — here are the columns:")
df_preview.head()

 Loaded preview successfully — here are the columns:

,_STATE,FMONTH,IDATE,IMONTH,IDAY,IYEAR,DISPCODE,SEQNO,_PSU,CTELENUM,...,_PAREC1,_PASTAE1,_LMTACT1,_LMTWRK1,_LMTSCL1,_RFSEAT2,_RFSEAT3,_FLSHOT6,_PNEUMO2,_AIDTST3
0,1.0,1.0,b'01292015',b'01',b'29',b'2015',1200.0,2.015000e+09,2.015000e+09,1.0,...,4.0,2.0,1.0,1.0,1.0,1.0,1.0,NaN,NaN,1.0
1,1.0,1.0,b'01202015',b'01',b'20',b'2015',1100.0,2.015000e+09,2.015000e+09,1.0,...,2.0,2.0,3.0,3.0,4.0,2.0,2.0,NaN,NaN,2.0
2,1.0,1.0,b'02012015',b'02',b'01',b'2015',1200.0,2.015000e+09,2.015000e+09,1.0,...,9.0,9.0,9.0,9.0,9.0,9.0,9.0,9.0,9.0,NaN
3,1.0,1.0,b'01142015',b'01',b'14',b'2015',1100.0,2.015000e+09,2.015000e+09,1.0,...,4.0,2.0,1.0,1.0,1.0,1.0,1.0,NaN,NaN,9.0
4,1.0,1.0,b'01142015',b'01',b'14',b'2015',1100.0,2.015000e+09,2.015000e+09,1.0,...,4.0,2.0,1.0,1.0,1.0,1.0,1.0,NaN,NaN,1.0

In [4]:
df = pd.read_csv('/Users/darrelljarrett/Explainable Machine Learning for Diabetes Prediction/2015.csv', low_memory=False)
for i, col in enumerate(df.columns):
    print(f"{i+1}. {col}")

1. _STATE
2. FMONTH
3. IDATE
4. IMONTH
5. IDAY
6. IYEAR
7. DISPCODE
8. SEQNO
9. _PSU
10. CTELENUM
11. PVTRESD1
12. COLGHOUS
13. STATERES
14. CELLFON3
15. LADULT
16. NUMADULT
17. NUMMEN
18. NUMWOMEN
19. CTELNUM1
20. CELLFON2
21. CADULT
22. PVTRESD2
23. CCLGHOUS
24. CSTATE
25. LANDLINE
26. HHADULT
27. GENHLTH
28. PHYSHLTH
29. MENTHLTH
30. POORHLTH
31. HLTHPLN1
32. PERSDOC2
33. MEDCOST
34. CHECKUP1
35. BPHIGH4
36. BPMEDS
37. BLOODCHO
38. CHOLCHK
39. TOLDHI2
40. CVDINFR4
41. CVDCRHD4
42. CVDSTRK3
43. ASTHMA3
44. ASTHNOW
45. CHCSCNCR
46. CHCOCNCR
47. CHCCOPD1
48. HAVARTH3
49. ADDEPEV2
50. CHCKIDNY
51. DIABETE3
52. DIABAGE2
53. SEX
54. MARITAL
55. EDUCA
56. RENTHOM1
57. NUMHHOL2
58. NUMPHON2
59. CPDEMO1
60. VETERAN3
61. EMPLOY1
62. CHILDREN
63. INCOME2
64. INTERNET
65. WEIGHT2
66. HEIGHT3
67. PREGNANT
68. QLACTLM2
69. USEEQUIP
70. BLIND
71. DECIDE
72. DIFFWALK
73. DIFFDRES
74. DIFFALON
75. SMOKE100
76. SMOKDAY2
77. STOPSMK2
78. LASTSMK2
79. USENOW3
80. ALCDAY5
81. AVEDRNK2
82. DRNK3GE5
83. MAXDRNKS
84. FRUITJU1
85. FRUIT1
86. FVBEANS
87. FVGREEN
88. FVORANG
89. VEGETAB1
90. EXERANY2
91. EXRACT11
92. EXEROFT1
93. EXERHMM1
94. EXRACT21
95. EXEROFT2
96. EXERHMM2
97. STRENGTH
98. LMTJOIN3
99. ARTHDIS2
100. ARTHSOCL
101. JOINPAIN
102. SEATBELT
103. FLUSHOT6
104. FLSHTMY2
105. IMFVPLAC
106. PNEUVAC3
107. HIVTST6
108. HIVTSTD3
109. WHRTST10
110. PDIABTST
111. PREDIAB1
112. INSULIN
113. BLDSUGAR
114. FEETCHK2
115. DOCTDIAB
116. CHKHEMO3
117. FEETCHK
118. EYEEXAM
119. DIABEYE
120. DIABEDU
121. PAINACT2
122. QLMENTL2
123. QLSTRES2
124. QLHLTH2
125. CAREGIV1
126. CRGVREL1
127. CRGVLNG1
128. CRGVHRS1
129. CRGVPRB1
130. CRGVPERS
131. CRGVHOUS
132. CRGVMST2
133. CRGVEXPT
134. VIDFCLT2
135. VIREDIF3
136. VIPRFVS2
137. VINOCRE2
138. VIEYEXM2
139. VIINSUR2
140. VICTRCT4
141. VIGLUMA2
142. VIMACDG2
143. CIMEMLOS
144. CDHOUSE
145. CDASSIST
146. CDHELP
147. CDSOCIAL
148. CDDISCUS
149. WTCHSALT
150. LONGWTCH
151. DRADVISE
152. ASTHMAGE
153. ASATTACK
154. ASERVIST
155. ASDRVIST
156. ASRCHKUP
157. ASACTLIM
158. ASYMPTOM
159. ASNOSLEP
160. ASTHMED3
161. ASINHALR
162. HAREHAB1
163. STREHAB1
164. CVDASPRN
165. ASPUNSAF
166. RLIVPAIN
167. RDUCHART
168. RDUCSTRK
169. ARTTODAY
170. ARTHWGT
171. ARTHEXER
172. ARTHEDU
173. TETANUS
174. HPVADVC2
175. HPVADSHT
176. SHINGLE2
177. HADMAM
178. HOWLONG
179. HADPAP2
180. LASTPAP2
181. HPVTEST
182. HPLSTTST
183. HADHYST2
184. PROFEXAM
185. LENGEXAM
186. BLDSTOOL
187. LSTBLDS3
188. HADSIGM3
189. HADSGCO1
190. LASTSIG3
191. PCPSAAD2
192. PCPSADI1
193. PCPSARE1
194. PSATEST1
195. PSATIME
196. PCPSARS1
197. PCPSADE1
198. PCDMDECN
199. SCNTMNY1
200. SCNTMEL1
201. SCNTPAID
202. SCNTWRK1
203. SCNTLPAD
204. SCNTLWK1
205. SXORIENT
206. TRNSGNDR
207. RCSGENDR
208. RCSRLTN2
209. CASTHDX2
210. CASTHNO2
211. EMTSUPRT
212. LSATISFY
213. ADPLEASR
214. ADDOWN
215. ADSLEEP
216. ADENERGY
217. ADEAT1
218. ADFAIL
219. ADTHINK
220. ADMOVE
221. MISTMNT
222. ADANXEV
223. QSTVER
224. QSTLANG
225. EXACTOT1
226. EXACTOT2
227. MSCODE
228. _STSTR
229. _STRWT
230. _RAWRAKE
231. _WT2RAKE
232. _CHISPNC
233. _CRACE1
234. _CPRACE
235. _CLLCPWT
236. _DUALUSE
237. _DUALCOR
238. _LLCPWT
239. _RFHLTH
240. _HCVU651
241. _RFHYPE5
242. _CHOLCHK
243. _RFCHOL
244. _MICHD
245. _LTASTH1
246. _CASTHM1
247. _ASTHMS1
248. _DRDXAR1
249. _PRACE1
250. _MRACE1
251. _HISPANC
252. _RACE
253. _RACEG21
254. _RACEGR3
255. _RACE_G1
256. _AGEG5YR
257. _AGE65YR
258. _AGE80
259. _AGE_G
260. HTIN4
261. HTM4
262. WTKG3
263. _BMI5
264. _BMI5CAT
265. _RFBMI5
266. _CHLDCNT
267. _EDUCAG
268. _INCOMG
269. _SMOKER3
270. _RFSMOK3
271. DRNKANY5
272. DROCDY3_
273. _RFBING5
274. _DRNKWEK
275. _RFDRHV5
276. FTJUDA1_
277. FRUTDA1_
278. BEANDAY_
279. GRENDAY_
280. ORNGDAY_
281. VEGEDA1_
282. _MISFRTN
283. _MISVEGN
284. _FRTRESP
285. _VEGRESP
286. _FRUTSUM
287. _VEGESUM
288. _FRTLT1
289. _VEGLT1
290. _FRT16
291. _VEG23
292. _FRUITEX
293. _VEGETEX
294. _TOTINDA
295. METVL11_
296. METVL21_
297. MAXVO2_
298. FC60_
299. ACTIN11_
300. ACTIN21_
301. PADUR1_
302. PADUR2_
303. PAFREQ1_
304. PAFREQ2_
305. _MINAC11
306. _MINAC21
307. STRFREQ_
308. PAMISS1_
309. PAMIN11_
310. PAMIN21_
311. PA1MIN_
312. PAVIG11_
313. PAVIG21_
314. PA1VIGM_
315. _PACAT1
316. _PAINDX1
317. _PA150R2
318. _PA300R2
319. _PA30021
320. _PASTRNG
321. _PAREC1
322. _PASTAE1
323. _LMTACT1
324. _LMTWRK1
325. _LMTSCL1
326. _RFSEAT2
327. _RFSEAT3
328. _FLSHOT6
329. _PNEUMO2
330. _AIDTST3

In [7]:
# Step 1: Import libraries
import pandas as pd

# Step 2: Define file path (make sure your path is correct)
file_path = "/Users/darrelljarrett/Explainable Machine Learning for Diabetes Prediction/2015.csv"

# Step 3: Define only the verified columns to load
use_cols = [
    "DIABETE3",   # Diabetes status
    "SEX",         # Gender
    "_AGEG5YR",    # Age group (5-year bins)
    "INCOME2",     # Income level
    "EDUCA",       # Education level
    "BPHIGH4",     # High blood pressure
    "TOLDHI2",     # High cholesterol
    "_BMI5",       # Body Mass Index
    "GENHLTH",     # General health
    "SMOKE100",    # Smoking history
    "EXERANY2",    # Physical activity
    "CHOLCHK"      # Cholesterol check
]

# Step 4: Load the data
df = pd.read_csv(file_path, usecols=use_cols, low_memory=False)


# Step 5: Display first few rows and dataset shape
print(" Dataset loaded successfully!")
print("Shape:", df.shape)
df.head()

 Dataset loaded successfully!
Shape: (441456, 12)

,GENHLTH,BPHIGH4,CHOLCHK,TOLDHI2,DIABETE3,SEX,EDUCA,INCOME2,SMOKE100,EXERANY2,_AGEG5YR,_BMI5
0,5.0,1.0,1.0,1.0,3.0,2.0,4.0,3.0,1.0,2.0,9.0,4018.0
1,3.0,3.0,4.0,2.0,3.0,2.0,6.0,1.0,1.0,1.0,7.0,2509.0
2,4.0,3.0,1.0,1.0,3.0,2.0,4.0,99.0,NaN,NaN,11.0,2204.0
3,5.0,1.0,1.0,1.0,3.0,2.0,4.0,8.0,2.0,2.0,9.0,2819.0
4,5.0,3.0,1.0,2.0,3.0,2.0,5.0,77.0,2.0,2.0,9.0,2437.0

In [8]:
import pandas as pd

file_path = "/Users/darrelljarrett/Explainable Machine Learning for Diabetes Prediction/2015.csv"

use_cols = [
    "GENHLTH", "BPHIGH4", "CHOLCHK", "TOLDHI2", "DIABETE3",
    "SEX", "EDUCA", "INCOME2", "SMOKE100", "EXERANY2", "_AGEG5YR", "_BMI5"
]

df_raw = pd.read_csv(file_path, usecols=use_cols, low_memory=False)
print("Dataset loaded successfully")
print("Shape:", df_raw.shape)

Dataset loaded successfully
Shape: (441456, 12)

In [9]:
# Save full dataset to a smaller, shareable fileoutput_path = "/Users/darrelljarrett/Explainable Machine Learning for Diabetes Prediction/trimmed_2015_raw.csv"
#df_raw.to_csv(output_path, index=False)
#print(f" Trimmed dataset saved to: {output_path}")

 Trimmed dataset saved to: /Users/darrelljarrett/Explainable Machine Learning for Diabetes Prediction/trimmed_2015_raw.csv

In [10]:
import pandas as pd
import numpy as np
file_path = "/Users/darrelljarrett/Explainable Machine Learning for Diabetes Prediction/trimmed_2015_raw.csv"

use_cols = [
    "GENHLTH","BPHIGH4","CHOLCHK","TOLDHI2","DIABETE3",
    "SEX","EDUCA","INCOME2","SMOKE100","EXERANY2","_AGEG5YR","_BMI5"
]

df = pd.read_csv(file_path, usecols=use_cols, low_memory=False)
print("Loaded:", df.shape)
df.head()

Loaded: (441456, 12)

,GENHLTH,BPHIGH4,CHOLCHK,TOLDHI2,DIABETE3,SEX,EDUCA,INCOME2,SMOKE100,EXERANY2,_AGEG5YR,_BMI5
0,5.0,1.0,1.0,1.0,3.0,2.0,4.0,3.0,1.0,2.0,9.0,4018.0
1,3.0,3.0,4.0,2.0,3.0,2.0,6.0,1.0,1.0,1.0,7.0,2509.0
2,4.0,3.0,1.0,1.0,3.0,2.0,4.0,99.0,NaN,NaN,11.0,2204.0
3,5.0,1.0,1.0,1.0,3.0,2.0,4.0,8.0,2.0,2.0,9.0,2819.0
4,5.0,3.0,1.0,2.0,3.0,2.0,5.0,77.0,2.0,2.0,9.0,2437.0

In [11]:
# Replace common BRFSS special codes with NaN
special_codes = [7, 9, 77, 99, 777, 999, 7777, 9999]
df = df.replace(special_codes, np.nan)

# Convert BMI back to proper scale (div by 100)
df["_BMI5"] = df["_BMI5"] / 100.0

# Optional: drop impossible BMI (sanity bounds)
df = df[(df["_BMI5"].isna()) | ((df["_BMI5"] >= 12) & (df["_BMI5"] <= 70))]

print("After special-code replacement:", df.shape)
df.isna().sum().sort_values(ascending=False).head(12)

After special-code replacement: (440421, 12)

INCOME2     137340
_AGEG5YR     89482
CHOLCHK      64776
TOLDHI2      62490
EXERANY2     37907
_BMI5        36398
SMOKE100     17527
EDUCA         1810
BPHIGH4       1364
GENHLTH       1244
DIABETE3       797
SEX              0
dtype: int64

In [12]:
from collections import defaultdict
import numpy as np

cat_cols = [
    "GENHLTH","BPHIGH4","CHOLCHK","TOLDHI2",
    "SEX","EDUCA","INCOME2","SMOKE100","EXERANY2","_AGEG5YR"
]
num_cols = ["_BMI5"]

# Fill categorical with mode
modes = {c: df[c].mode(dropna=True)[0] if df[c].notna().any() else np.nan for c in cat_cols}
for c in cat_cols:
    df[c] = df[c].fillna(modes[c])

# Fill BMI with median
df["_BMI5"] = df["_BMI5"].fillna(df["_BMI5"].median())

# Drop rows with missing target (DIABETE3)
df = df.dropna(subset=["DIABETE3"])

print("After imputation:")
print(df.isna().sum())
print("\nShape:", df.shape)

After imputation:
GENHLTH     0
BPHIGH4     0
CHOLCHK     0
TOLDHI2     0
DIABETE3    0
SEX         0
EDUCA       0
INCOME2     0
SMOKE100    0
EXERANY2    0
_AGEG5YR    0
_BMI5       0
dtype: int64

Shape: (439624, 12)

In [13]:
df.head(20)  # shows first 20 rows

,GENHLTH,BPHIGH4,CHOLCHK,TOLDHI2,DIABETE3,SEX,EDUCA,INCOME2,SMOKE100,EXERANY2,_AGEG5YR,_BMI5
0,5.0,1.0,1.0,1.0,3.0,2.0,4.0,3.0,1.0,2.0,10.0,40.18
1,3.0,3.0,4.0,2.0,3.0,2.0,6.0,1.0,1.0,1.0,10.0,25.09
2,4.0,3.0,1.0,1.0,3.0,2.0,4.0,8.0,2.0,1.0,11.0,22.04
3,5.0,1.0,1.0,1.0,3.0,2.0,4.0,8.0,2.0,2.0,10.0,28.19
4,5.0,3.0,1.0,2.0,3.0,2.0,5.0,8.0,2.0,2.0,10.0,24.37
5,2.0,1.0,1.0,2.0,3.0,2.0,3.0,6.0,2.0,1.0,11.0,26.52
6,2.0,1.0,1.0,1.0,3.0,2.0,5.0,4.0,2.0,1.0,11.0,23.89
7,5.0,1.0,1.0,1.0,3.0,1.0,3.0,3.0,1.0,1.0,13.0,33.82
8,5.0,3.0,1.0,2.0,3.0,2.0,3.0,8.0,2.0,1.0,13.0,14.88
9,2.0,1.0,1.0,1.0,3.0,1.0,6.0,8.0,1.0,1.0,10.0,25.22
10,3.0,1.0,1.0,2.0,3.0,2.0,6.0,8.0,1.0,2.0,10.0,30.04
11,5.0,1.0,1.0,1.0,1.0,2.0,5.0,8.0,2.0,2.0,13.0,25.75
12,5.0,1.0,1.0,1.0,1.0,2.0,5.0,5.0,1.0,1.0,11.0,26.92
13,4.0,3.0,1.0,1.0,3.0,2.0,5.0,8.0,2.0,1.0,13.0,22.60
14,3.0,1.0,1.0,2.0,3.0,2.0,5.0,8.0,2.0,1.0,13.0,26.63
15,3.0,1.0,1.0,1.0,3.0,2.0,4.0,4.0,1.0,1.0,11.0,25.00
16,5.0,1.0,1.0,1.0,1.0,2.0,5.0,1.0,1.0,2.0,10.0,30.41
17,3.0,1.0,1.0,1.0,3.0,1.0,5.0,8.0,1.0,1.0,12.0,25.54
18,3.0,1.0,1.0,1.0,3.0,2.0,3.0,8.0,2.0,1.0,13.0,25.79
19,2.0,3.0,1.0,2.0,3.0,1.0,4.0,3.0,2.0,2.0,8.0,24.07

In [14]:
print("Shape:", df.shape)
df.info()

Shape: (439624, 12)
<class 'pandas.core.frame.DataFrame'>
Index: 439624 entries, 0 to 441455
Data columns (total 12 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   GENHLTH   439624 non-null  float64
 1   BPHIGH4   439624 non-null  float64
 2   CHOLCHK   439624 non-null  float64
 3   TOLDHI2   439624 non-null  float64
 4   DIABETE3  439624 non-null  float64
 5   SEX       439624 non-null  float64
 6   EDUCA     439624 non-null  float64
 7   INCOME2   439624 non-null  float64
 8   SMOKE100  439624 non-null  float64
 9   EXERANY2  439624 non-null  float64
 10  _AGEG5YR  439624 non-null  float64
 11  _BMI5     439624 non-null  float64
dtypes: float64(12)
memory usage: 43.6 MB

In [15]:
df.describe()

,GENHLTH,BPHIGH4,CHOLCHK,TOLDHI2,DIABETE3,SEX,EDUCA,INCOME2,SMOKE100,EXERANY2,_AGEG5YR,_BMI5
count,439624.000000,439624.000000,439624.000000,439624.000000,439624.000000,439624.000000,439624.000000,439624.000000,439624.000000,439624.000000,439624.000000,439624.000000
mean,2.561559,2.195094,1.308646,1.637529,2.749434,1.576886,4.908354,6.342738,1.582557,1.243128,8.189653,27.824159
std,1.082476,0.991869,0.717785,0.480714,0.694648,0.494054,1.045742,2.203287,0.493138,0.428972,3.580509,5.844061
min,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,12.020000
25%,2.000000,1.000000,1.000000,1.000000,3.000000,1.000000,4.000000,5.000000,1.000000,1.000000,5.000000,24.030000
50%,2.000000,3.000000,1.000000,2.000000,3.000000,2.000000,5.000000,8.000000,2.000000,1.000000,10.000000,26.920000
75%,3.000000,3.000000,1.000000,2.000000,3.000000,2.000000,6.000000,8.000000,2.000000,1.000000,10.000000,30.410000
max,5.000000,4.000000,4.000000,2.000000,4.000000,2.000000,6.000000,8.000000,2.000000,2.000000,14.000000,69.940000

In [16]:
list(df.columns)

['GENHLTH',
 'BPHIGH4',
 'CHOLCHK',
 'TOLDHI2',
 'DIABETE3',
 'SEX',
 'EDUCA',
 'INCOME2',
 'SMOKE100',
 'EXERANY2',
 '_AGEG5YR',
 '_BMI5']

In [18]:
# Save the fully cleaned dataset to a smaller, shareable file
output_path = "/Users/darrelljarrett/Explainable Machine Learning for Diabetes Prediction/cleaned_brfss_2015.csv"
df.to_csv(output_path, index=False)

print(f" Cleaned dataset saved successfully to: {output_path}")
print("Shape:", df.shape)

 Cleaned dataset saved successfully to: /Users/darrelljarrett/Explainable Machine Learning for Diabetes Prediction/cleaned_brfss_2015.csv
Shape: (439624, 12)